
// 公用mixin定义
@mixin center() {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
@mixin Ycenter() {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@mixin Xcenter(){
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
  @keyframes over-turn {
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    10%{
        transform: rotateX(45deg);
        opacity: 0.1;
    }
    15% {
      transform: rotateX(90deg);
      opacity: 0;
    }
    40% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    100% {
        transform: rotateX(0deg);
      opacity: 1;
    }
  }
  